In [14]:
import pandas as pd
import numpy as np

In [15]:
# df = pd.read_csv(filepath_or_buffer='C:\\Users\\aa69934\\Downloads\\Sample_Superstore.csv')
# df

In [16]:
# window = df.sort_values(by=['Order Date']).groupby('City')
# window

In [17]:
# window.head()

In [18]:

# df['Quantity_lag_1'] = window['Quantity'].shift(1)

In [19]:
# df

In [20]:
# df['Quantity_MA_5'] = window['Quantity'].rolling(2).mean().reset_index(drop=True)

In [21]:
# df

In [28]:
d = {
    'col1': [1, 2, 3, 4, 5, np.NAN, 6, 7, 8, 9, 10],
    'col2': [11, 12, 13, 14, 15, np.NAN, 16, 17, 18, 19, 20]
}
new_df = pd.DataFrame(data=d)

In [29]:
new_df

    col1  col2
0    1.0  11.0
1    2.0  12.0
2    3.0  13.0
3    4.0  14.0
4    5.0  15.0
5    NaN   NaN
6    6.0  16.0
7    7.0  17.0
8    8.0  18.0
9    9.0  19.0
10  10.0  20.0

In [24]:
# new_df.fillna(method='ffill', inplace=True)

In [38]:
new_df['col1_ma_5'] = new_df['col1'].rolling(window=5, min_periods=1).mean().shift(1).reset_index(drop=True)
#since column contains '', we need to probably filter that row maybe

In [39]:
new_df

    col1  col2  col1_ma_5
0    1.0  11.0        NaN
1    2.0  12.0        1.0
2    3.0  13.0        1.5
3    4.0  14.0        2.0
4    5.0  15.0        2.5
5    NaN   NaN        3.0
6    6.0  16.0        3.5
7    7.0  17.0        4.5
8    8.0  18.0        5.5
9    9.0  19.0        6.5
10  10.0  20.0        7.5